{% extends 'base.html' %}
{% block title %}Просмотр изображения "{{ image.image_name }}"{% endblock title %}
  <!-- Page Loader -->
{% block content %}
  <div class="container-fluid tm-container-content tm-mt-60">
    <div class="row mb-4">
      <h2 class="col-12 tm-text-primary">{{ image.image_name }}</h2>
    </div>
    <div class="row tm-mb-90">      
      <div class="col-xl-8 col-lg-7 col-md-6 col-sm-12">
        <img src="{{ image.image.url }}" alt="{{ image.image_name }}" class="img-fluid">
      </div>
      <div class="col-xl-4 col-lg-5 col-md-6 col-sm-12">
        <div class="tm-bg-gray tm-video-details">
          <div class="text-center mb-5">
            <a href="{{ image.image.url }}" class="btn btn-primary tm-btn-big">Download</a>
          </div>          
          <div class="mb-4 d-flex flex-wrap">
            <div class="mr-4 mb-2">
              <span class="tm-text-gray-dark">Dimension: </span><span class="tm-text-primary">{{ image.image.height }} x {{ image.image.width }}</span>
            </div>
          </div>
          <div>
            <h3 class="tm-text-gray-dark mb-3">Tags</h3>
            {% include 'gallery/includes/taglist.html' with tags=image.tags.all %}
          </div>
        </div>
      </div>
    </div>
    <div class="row mb-4">
      <h2 class="col-12 tm-text-primary">
        Related Photos
      </h2>
    </div>
    <div class="row mb-3 tm-gallery">
      {% for image in related %}
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-5">
          <figure class="effect-ming tm-video-item">
            <img src="{{ image.image.url }}" alt="{{ image.image_name }}" class="img-fluid">
            <figcaption class="d-flex align-items-center justify-content-center">
              <h2>{{ image.image_name }}</h2>
              <a href="{% url 'gallery:image' image.pk %}">View more</a>
            </figcaption>          
          </figure>
          <div class="d-flex justify-content-between tm-text-gray">
            {% include 'gallery/includes/taglist.html' with tags=image.tags.all %}
          </div>
        </div>
      {% endfor %}
    </div> <!-- row -->
  </div> <!-- container-fluid, tm-container-content -->
{% endblock content %}
  